
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;

        }

        header {
            background-color: #98c88b;
            padding: 20px 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .logo {
            width: 560px;
        }

        main {
            padding: 40px 20px;
            max-width: 1200px;
            margin: auto;
        }

        .content-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .content-section h2 {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .content-section p {
            margin-bottom: 20px;
            max-width: 800px;
        }

        .content-section img {
            max-width: 100%;
            height: auto;
            margin-bottom: 20px;
        }

        .content-section .stats {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            max-width: 800px;
            margin-top: 20px;
        }

        .content-section .stats div {
            background: #f4f4f4;
            padding: 20px;
            margin: 10px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            flex: 1 1 calc(33% - 40px);
            max-width: calc(33% - 40px);
        }

        .content-section .stats div p {
            margin: 0;
        }

        footer {
            background: #333;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            position: fixed;
            width: 100%;
            bottom: 0;
        }

        footer a {
            color: #4CAF50;
            text-decoration: none;
        }