body{
    width: 1880px;
    height: 910px;
    background:#98c88b ;
}
header{
    width: 100%;
    height: 15%;
    text-align: center;
}
article{
    width: 30%;
    height: 70%;
    margin: 0 auto;
    font-family: Times New Roman;
}
table{
    background:#dedede;
}
.logo{
     width: 30%;
}